<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/mydb?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">eronat98</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>


        <mapping class="com.utm.entities.Role"/>
        <mapping class="com.utm.entities.Group"/>
        <mapping class="com.utm.entities.Schedule"/>
        <mapping class="com.utm.entities.Subject"/>
        <mapping class="com.utm.entities.Lesson"/>
        <mapping class="com.utm.entities.Registry"/>
        <mapping class="com.utm.entities.User"/>
        <mapping class="com.utm.entities.Administrator"/>
        <mapping class="com.utm.entities.Student"/>
        <mapping class="com.utm.entities.Teacher"/>
        <mapping class="com.utm.entities.PasswordResetToken"/>
    </session-factory>

</hibernate-configuration>